<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Main</title>
  </head>

  <div class="head">
    <div class="headerobjectswrapper">
      <div class="weatherforcastbox">
        <p id="currentWeather"></p>
        <img id="weatherIcon" />
        <span style="font-style: italic;"> </span>
      </div>
      <a href="/"><header>The Self Journal Post</header></a>
    </div>
  </div>

  <body>
    <nav class="navbar">
      {{#if logged_in}}
        <a href="/" class="btn-flat">Home</a>
        <a href="/entries" class="btn-flat">Entries</a>
        <a href="/wellness" class="btn-flat">Wellness</a>
        <a href="/logout" class="btn-flat" id="logout">Logout</a>
      {{else}}
        <a href="/" class="btn-flat">Home</a>
        <a href="/login" class="btn-flat">Login</a>
        <a href="/signup" class="btn-flat">Sign up</a>
      {{/if}}
    </nav>
    <main>

      {{{body}}}

    </main>
  </body>

  <script src="/js/index.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>

</html>