<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="./public/css/style.css" />
       <title>Main</title>
  </head>
<body>
      <div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Login to track your habits, goals, and interact with the community!</span></div>
        <header>The Self Journal Post</header>
    </div>
  <body>
    <nav class="navbar">
      <a class="btn-flat">Entries</a>
      <a class="btn-flat">Wellness</a>
      <a class="btn-flat">Login</a>
      <a class="btn-flat">Sign Up</a>
    </nav>
      {{!-- <nav> --}}
        <!-- Conditionally render login or logout links -->
        {{!-- {{#if logged_in}}
        <a href="/entries">Entries</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav> --}}
</body>
</html>