<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/stylesheet" />
    <title>Entries</title>
  </head>

  <div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Insert Weather</span></div>
        <header>The Self Journal Post</header>
    </div>
  <body>
    <nav class="navbar">
      {{#if logged_in}}
      <a href="/entries" class="btn-flat">Entries</a>
      <a href="/wellness" class="btn-flat">Wellness</a>
      <a href="/logout" class="btn-flat">Logout</a>
      {{else}}
      <a href="/login" class="btn-flat">Login</a>
      <a href="/signup" class="btn-flat">Sign up</a>
      {{/if}}
    </nav>
    <main>
      {{#if checkbox: true}}
      {{{body}}}

    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>