<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="./public/css/style.css" />
    <title>Entries</title>
  </head>

  <div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Login to track your habits, goals, and interact with the community!</span></div>
        <header>The Self Journal Post</header>
    </div>
  <body>
    <nav class="navbar">
      <a class="btn-flat">Entries</a>
      <a class="btn-flat">Wellness</a>
      <a class="btn-flat">Login</a>
      <a class="btn-flat">Sign Up</a>
    </nav>

    <div class="body-blog">
      <div class="blog-header">
        <h3>Join the forum of public entries and share yours!</h3>
        <h6><em>or keep it anonymous</em></h6>
      </div>
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>@username</h2>
            <h5>Dec 7, 2017</h5>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input_text" type="text" data-length="10">
                    <label for="input_text">Entry Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" data-length="250"></textarea>
                    <label for="textarea2">Textarea</label>
                    <button>Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" />
                  <span>Keep my entry anonymous</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" />
                  <span>Keep my entry public</span>
                </label>
              </p>
          </div>
          
    
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h3>Previous Entries:</h3>
            <p><b>[Text entry title and date]</b></p>
            <p><b>Gym Routine - 1/17/22</b></p>
          </div>
          <div class="card">
            <h3>My Goals:</h3>
            <ul>
              <li>Goal 1</li>
              <li>Goal 2</li>
              <li>Goal 3</li>
            </ul>
          </div>
          <div class="card">
            <h3>Online Users:</h3>
            <p>[Names of other users who are active]</p>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
