<div class="body-blog">
  <div class="row">
    <div class="leftcolumn">
      <div class="blog-header">
        <h3>See our forum below</h3>
      </div>
      {{! should display the user's entries only, & most recent at top }}
      {{!-- changed --}}
      {{#each entries as |entry|}}
        {{> entry-details}}
          {{#each entry.comments as |comment|}}
            <div class="col-md-3 card">
            {{> comment-details }} {{!--how do we also get the user name who made the comment?--}}
            </div>
          {{/each}}

      {{/each}}
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h3>Add New Entry:</h3>
        <a href="/entry" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
      </div>
      <a href="/wellness">
        <div class="card section scrollspy">
          <h3>Daily Goals:</h3>
          <ul>
            <li>{{goal.goal}}</li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </a>
      <div class="card">
        <h3>Online Users:</h3>
        <p>{Names of other users who are active}</p>
      </div>
    </div>
  </div>
</div>

{{!-- <script src="scroll.js"></script> --}}