<div class="column">
  News API goes here
</div>

<div class="rightcolumn">
  <div class="weatherforcastbox">
    <p id="currentWeather"></p>
    <img id="weatherIcon" />
    <span style="font-style: italic;"> </span>
  </div>

  <div class="card">
    <h3>Add New Entry:</h3>
    <a
      href="/entry"
      class="btn-floating btn-large waves-effect waves-light red"
    ><i class="material-icons">+</i></a>
  </div>
  <div class="card" id="homepage-join">
    <h3>Join the Post!</h3>
    <a href="/entry" class="btn btn-primary" id="get-started-btn">Get Started</a>
  </div>

</div>