<form class="row g-3">
  <div class="col-md-6 mb-3 mt-4 ml-5">
    <label for="inputName4" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputName4">
  </div>
  <div class="col-md-6 mb-3 mt-4 ml-5">
    <label for="inputName4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputName4">
  </div>
  <div class="col-6 mb-3 mt-4 ml-5">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-6 mb-3 mt-4 ml-5">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-6 mb-3 mt-4 ml-5">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>
</form>

<script src="/js/signup.js"></script>