<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./public/css/style.css" />
    <title>Wellness</title>
  </head>

  <div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Login to track your habits, goals, and interact with the community!</span></div>
        <header>The Self Journal Post</header>
    </div>
  <body>
    <nav class="navbar">
      <a class="btn-flat">Entries</a>
      <a class="btn-flat">Wellness</a>
      <a class="btn-flat">Login</a>
      <a class="btn-flat">Sign Up</a>
    </nav>

  <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Goal Tracker</span>
      <p>What percentage of my goals did I accomplish today? <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    <div class="w3-container">

      
      <div class="w3-light-grey">
        <div id="myBar" class="w3-container w3-green w3-center" style="width:20%">20%</div>
      </div>
      <br>
      <button class="w3-button w3-green" onclick="move()">Click Me</button> 
      
      </div>
    </li>
    <br>

    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Mood tracker</span>
      <p>How was my mood today? <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      <div class="w3-container">

      
        <div class="w3-light-grey">
          <div id="myBar" class="w3-container w3-green w3-center" style="width:20%">20%</div>
        </div>
        <br>
        <button class="w3-button w3-green" onclick="move()">Click Me</button> 
        
        </div>
    </li>
  </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      function move() {
        var elem = document.getElementById("myBar");   
        var width = 20;
        var id = setInterval(frame, 10);
        function frame() {
          if (width >= 100) {
            clearInterval(id);
          } else {
            width++; 
            elem.style.width = width + '%'; 
            elem.innerHTML = width * 1  + '%';
          }
        }
      }
      </script>
  </body>
</html>
